includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    # level 5から開始する。通るようになったら段階的に上げる（最大10）
    level: 5
